# Data Science Tools and Ecosystem

# **Objectives:**

- List popular languages that data scientists use:
- Some of the commonly used libraries used by Data Scientists include:
- Below are a few examples of evaluating arithmetic expressions in Python

## Author: 
Gabriel Yepez

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [4]:
list_arr = ["Scala", "Python", "R"]
list_arr.sort()
print(list_arr)

['Python', 'R', 'Scala']

 Some of the commonly used libraries used by Data Scientists include:

In [5]:
list2_arr = ["Pandas", "Tensorflow", "Pytorch", "Sklearn", "Matplotlib", "Seaborn"]
list2_arr.sort()
print(list2_arr)

['Matplotlib', 'Pandas', 'Pytorch', 'Seaborn', 'Sklearn', 'Tensorflow']

| Data Science Tools    |
| -------- |
| Google Colab  |
| Jupyther Lab |
| RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
eval("(3*4)+5")

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
eval("200/60")

3.3333333333333335